<!DOCTYPE html>
<html ng-app="app" >
<head>
	<title>coder-camps-js</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/bootstrap_theme.min.css">
	<link rel="stylesheet" type="text/css" href="/css/site.css">
</head>
<body>
	<h1>Exercise App</h1>
	<a ui-sref="Home">Home</a>
	<a ui-sref="Create">Create</a>
	<a ui-sref="Edit">Edit</a>
	<ui-view></ui-view>



	<script src="/angular/angular.js"></script>
	<script src="\angular-ui-router\release\angular-ui-router.js"></script>
	<!--Module is in app.js so needs to go before services -->
	<script src="/javascript/app.js"></script>
	<script src="/javascript/services/homeFactory.js"></script>
	<script src="/javascript/controllers/homeController.js"></script>
	<script src="/javascript/controllers/createController.js"></script>
	<script src="/javascript/controllers/editController.js"></script>

</body>
</html>
